SECRET_KEY=change-me-in-production

DB_HOST=localhost
DB_PORT=3306
DB_USER=ecommerce_user
DB_PASSWORD=ecommerce_pass
DB_NAME=ecommerce_app

ADMIN_USERNAME=admin
# Mot de passe par défaut ci-dessous : "changeme123" (À CHANGER)
# Génère ton propre hash avec :
#   python -c "from werkzeug.security import generate_password_hash as g; print(g('ton_mot_de_passe'))"
ADMIN_PASSWORD_HASH=scrypt:32768:8:1$dUPqaBsjHEbnlMiz$8153f72473510339933db51756123bc30c2bad4ee167a9d77844a4791c5eb7653814f40645e223acd8e5116ec4c6128d716821d135a12b5b11ecb711976b9225
